<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <iframe
      src="https://nghiquan-my.sharepoint.com/personal/thaiphuongnam_nghiquan_onmicrosoft_com/_layouts/15/embed.aspx?UniqueId=96010daa-bb4e-41d2-8672-fb29aadca621"
      width="640"
      height="360"
      frameborder="0"
      scrolling="no"
      allowfullscreen
      title="CV - bản font chữ nhỏ - v3.pdf"
    ></iframe>
  </body>
</html>
